#display1{
    height: 400px;
    width: 98%;
    margin: auto;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
    margin-top: 30px;
    background-color: white;

}
#toplayer{
    height: 65px;
    width: 100%;
    /* border: 1px solid black; */
    border-bottom: 1px solid grey;
    display: flex;
}
#toplayer>div{
    width: 25%;
    font-size: 20px;
    padding-left: 5%;
    padding-top: 1%;
    font-style: normal;
    font-weight: 600;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  
}
#toplayer>div:hover{
    color: #24a3b5;
    cursor: pointer;
   
   
   
}
#bottombox{
   
    transform: translateX(0);
    transition: all .5s ease-in-out;
    
   height: 335px;
   display: flex;
   
}
#bottombox>div:hover{
   
   transition: 5s;




}
/* #bottombox>div{
    border: 1px solid blue;
    width: 20%;
    height: 315px;
} */
#arrow1{
    position: absolute;
    height: 70px;
    width: 50px;
    border: 1px solid black;
    margin-top: 100px;
    /* margin-left: 1545px; */
    right: 0%;
    
    font-size:30px;
    font-weight: bolder;
    text-align: center;
    padding-top: 25px;
    color: white;
    background-color: #24a3b5;;
    

}
#arrow:hover{
    cursor: pointer;
}
#alsobought{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  color: #212121;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 1%;
}
.display3{
   
   
    
  
   
}
.display3:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, #24a3b5 0px 0px 0px 1px inset;
   
    transform: scale(1.05);
    transition: .25s;
    cursor: pointer;
}


        #display3{
    height: 380px;
    width: 96%;
    margin: auto;
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
    display: flex;
    background-color: white;
}
#cont{
    display: flex;
    margin-left:20px;
}
#btnL{
    height: 90px;
    width: 50px;
    background-color: #24a3b5;
    margin-top: 150px;
    margin-left: 0;
    /* margin-right: 35px; */
    font-size: 50px;
    color: white;
    padding-top:20px ;
    padding-left: 15px;
}
#rightbar{
  
    height: 380px;
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
    background-color: white;
    padding-right: 20px;
    margin-right: 15px;
}
#btnL:hover{
    cursor: pointer;
}



#symbolR{
    position: absolute;
    padding-right:0%;
    margin-left: 290px;
    margin-top: 100px;
}
#symbolR:hover{
    cursor: pointer;
}
/* demo */
#display1:hover{
    cursor: pointer;
}
#prodetail{
    font-size: 31px;
    font-weight: 500;
    color: #353535;
    font-style: normal;
    padding-top: 120px;
   
 

}
#bottom{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 21px;
color: #757575;
}
#prodetaildiv{
    margin: auto;
    width: 98%;
    height: 2500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;


}
.prodetail{
    padding-left: 1%;
    
}
#topprod{
    width: 100%;
    height: 120px;
    margin: auto;
    border: 1px solid black;
    display: flex;
   

}
#a{
   
    height: 40px;
    width: 15%;
  
    padding-top:80px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #757575;
    text-align: center;

}
#b{
    height: 40px;
    width: 17%;

    padding-top:80px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #757575;
    text-align: center;
}
#a:hover{
    color:#24a3b5;
    cursor: pointer;
}
#b:hover{
    color:#24a3b5;
    cursor: pointer;
}
#arrowdwn{
    display: flex;
}
#dwnicon{
    margin-left: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    margin-top: 60px;
}
#keyfeature{
    margin-top: 63px;
    padding-left: 25px;
    font-size: 21px;
    font-weight: 600;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: center;
}
#table{
    padding-left: 105px;
    color: #757575;
    font-size: 21px;
}
#tableflex{
    display: flex;
    color: #757575;
    font-size: 21px;
}
#size{
    font-size: 25px;
}
li{
    padding-bottom: 40px;
}
#des{
    font-size: 25px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #757575;
}
#align{
    padding-left: 2%;
}
#moresize{
    font-size: 20px;
    font-family:  Roboto, Arial, Helvetica, sans-serif;
    color: #757575;
    font-weight: 400;
}
#t{
    border-spacing:  60px;
}
#md{
    font-size: 25px;
}
#serviceC{
    
    height: 50px;
    width: 300px;
    display: flex;
    margin-left: 1%;
    font-size: 18px;
    color: #757575;
    font-weight: 400;
}
#clickH{
    color: #24a3b5;
    font-size: 18px;
    font-weight: 400;
    padding-left: 50px;
    text-decoration: none;
}
#clickH:hover{
    text-decoration: underline;
}
#rating{
    font-size: 27px;
    font-weight: 600;
    color: #353535;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding-left: 1%;

}
#ratingB{
   
    height: 370px;
    width: 98%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
    background-color: white;
}
#ratingI{
    margin: auto;
    padding-top: 20px;
}
#note{
    padding-left: 1%;
    font-size: 20px;
    color: #555555;
    font-family: Roboto, Arial, Helvetica, sans-serif;

}
#clickH2{
    color: #24a3b5;
    font-size: 20px;
    font-weight: 400;
   
}


/* MEGHNA'S PAGE TOP SECTION */


.super_discount {
    background-color: #fff;
    border: 1px solid #d8e8e9;
    position: relative;
    width: 450px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.super_discount:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 10px;
    width: 10px;
    height: 10px;
    background-color: #e2f7f8;
    border-left: 1px solid #d8e8e9;
    border-top: 1px solid #d8e8e9;
}
.container {
    /* border:1px solid red; */
    height:1100px;
    width:1280px;
    margin-left:20px;
    display:flex;
}
.shopclues {
    /* border:1px solid blue; */
    height:30px;
    width:200px;
    margin-left:20px;
}
.first-box {
    /* border:1px solid blue; */
    display:grid;
    height:500px;
}
.heading {
    font-size:18px;
}
.box1 {
    /* border:1px solid green; */
    display:flex;
    height:400px;
    width:550px;
    margin-top:20px;
}
.item {
    color:#F0911D;
    margin-left:20px;
    border:1px solid transparent;
    background-color:#FEF7F1;
    height:20px;
}
/* .big-img {
    border:1px solid blue;
} */
.box2 {
    display:flex;
    border:1px solid red;
    height:55px;
    width:60px;
    margin-top:30px;
    margin-left:170px;
    gap:20px;
}
/* .box2-1 {
    border:1px solid orange;
} */
.small-img {
    border:1px solid grey;
    height:45px;
    width:50px;
    padding:5px;
}
.second-box {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap:10px; */
    /* border:1px solid black; */
    width:450px;
    margin-left:40px;
    font-family: Arial, Helvetica, sans-serif;
    /* letter-spacing:0.5px; */
}
a {
    color:#18a2b4;
}
span {
    display:flex;
    color:grey;
    gap:10px;
    align-items: center;
}
.star {
    display:inline;
    color:#FB760B;
    font-size:20px;
}
.price {
    color:#FF7A55;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
}
.price1 {
    font-size:20px;
    color:black;
}
.mrp {
    color:grey;
    font-size:15px;
}
.discount {
    color:#32A3B5;
    font-size:20px;
}
.deal {
    border:1px solid grey;
    height:150px;
    width:450px;
}
.text {
    font-size:10px;
    font-weight: bold;
    text-align: end;
}
.diamond {
    height:20px;
    width:20px;
}
.plus {
    color:black;
    font-weight:bold;
    font-size:15px;
}
.club {
    color:grey;
    font-size:15px;
}
.ul {
    font-size:13px;
}
.storage {
    color:grey;
    text-align:end;
    font-size:13px;
}
.more {
    margin-left:30px;
}
.emi {
    color:grey;
    margin-left:30px;
}
.offer {
    color:#555555;
    font-weight: bold;
    margin-left:30px;
    font-size:20px;
}
.prepaid {
    border:1px dashed #18a2b4;
    color:black;
    height:20px;
    width:130px;
    text-align: center;
    padding-top:5px;
    background-color: #E9F6F7;
}
.order {
    color:black;
}
.code {
    font-size:12px;
    margin-left:150px;
    color:grey;
}
.add {
    border:1px solid #FB760B;
    height:50px;
    width:180px;
    font-size:18px;
    color:#FB760B;
    background-color:white;
    border-radius:5px;
}
.buy {
    border:1px transparent;
    height:50px;
    width:180px;
    font-size:18px;
    color:white;
    margin-left:20px;
    border-radius:5px;
    background-color:#FF8650
}
#pincode {
    margin-top:20px;
    height:30px;
    width:180px;
    color:grey;
    text-align: center;
}
.check {
    border:1px solid #18a2b4;
    color:#18a2b4;
    height:35px;
    width:80px;
    background-color:white;
    font-size:15px;
    border-radius:5px;
    margin-top:15px;
}
.cod {
    color:grey;
    font-size:13px;
}
.not {
    color:black;
    font-size:13px;
}
.easy {
    color:grey;
    font-weight: bold;
    font-size:12px;
}
.third-box {
    /* border:1px solid black; */
    height:200px;
    width:250px;
    margin-left:50px;
}
.sold {
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
}
.place {
    color:grey;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}
.store {
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
.top {
    border:1px solid #18a2b4;
    height:18px;
    width:130px;
    color:#18a2b4;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    background-color: #DFF8FB;
    text-align: center;
}
#topCont{
    background-color: white;
    width: 98%;
    height: 1180px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
}
.containerTop{
   
    width: 100%;
    height: 100%;
    background-color: #eff7fa;
}


.buttonhover:hover{
    background-color: black;
}

.display4:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, #24a3b5 0px 0px 0px 1px inset;
   
    transform: scale(1.05);
    transition: .2s;
    cursor: pointer;
}
.display4{

}





